<header>
  <figure class="logo">
    <img
      src="assets/images/logo-small.svg"
      alt="logo"
      title="Typing Speed Test"
      class="mobile"
    />
    <img
      src="assets/images/logo-large.svg"
      alt="logo"
      title="Typing Speed Test"
      class="desktop"
    />
  </figure>

  <figure class="best">
    <img src="assets/images/icon-personal-best.svg" alt="" />
    <figcaption>
      <span>Personal</span>Best:<b id="best-value"></b>
    </figcaption>
  </figure>
</header>
